<article class="post">

  {% if post %}
    {% assign tmp = post %}
  {% else %}
    {% assign tmp = page %}
  {% endif %}

  {% if post %}
    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
  {% else %}
    <h1>{{ page.title }}</h1>
  {% endif %}

  <div class="date">
    Published on {{ tmp.date | date: "%B %e, %Y" }}
  </div>

  {% if tmp.tags contains 'iSEC' %}
    {% include isec.html %}
  {% endif %}

  <div class="entry">
    {% if post %}
      {{ post.content }}
    {% else %}
      {{ content }}
    {% endif %}
  </div>

</article>
