<article class="post">

  {% if post %}
    {% assign tmp = post %}
  {% else %}
    {% assign tmp = page %}
  {% endif %}

  <h1>
    {% if post %}
      <a href="{{ site.baseurl }}{{ tmp.url }}">{{ tmp.title }}</a>
    {% else %}
      {{ tmp.title }}
    {% endif %}
  </h1>

  <div class="date">
    Published on {{ tmp.date | date: "%B %e, %Y" }}
  </div>

  {% if tmp.tags contains 'iSEC' %}
    {% include isec.html %}
  {% endif %}

  {% if tmp.tags contains 'NCC' %}
    {% include ncc.html %}
  {% endif %}

  <div class="entry">
    {% if post %}
      {{ post.content }}
    {% else %}
      {{ content }}
    {% endif %}
  </div>

</article>
